<div id="rec{{id}}" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px;background-color:#f0f0f0; "
  data-record-type="106" data-bg-color="#f0f0f0">
  <!-- T004 -->
  <div class="t004">
    <div class="t-container ">
      <div class="t-col t-col_8 t-prefix_2">
        <div field="text" class="t-text t-text_md " style="">
          <div style="text-align:left;" data-customstyle="yes">{{ params.custtextattr01|raw }}</div>
        </div>
      </div>
    </div>
  </div>
</div>