<div id="rec{{id}}" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px;background-color:{{ params.custstrattr04 }}; "
  data-record-type="36" data-bg-color="{{ params.custstrattr04 }}">
  <!-- T021 -->
  <div class="t021">
    <div class="t-container">
      <div class="t-row">
        <div class="t-col t-col_2 t-prefix_5">
          <div class="t021__line" style="background-color:#f7e3d6;"></div>
        </div>
      </div>
      <div class="t-row">
        <div class="t-col t-col_10 t-prefix_1">
          <div class="t021__text-impact t-text-impact t-text-impact_md" style="" field="text">
            <div style="color:#f7e3d6;" data-customstyle="yes">{{ params.custstrattr01 }}</div>
          </div>
        </div>
      </div>
      <div class="t-row">
        <div class="t-col t-col_2 t-prefix_5">
          <div class="t021__line" style="background-color:#f7e3d6;"></div>
        </div>
      </div>
    </div>
  </div>
</div>