<div id="rec{{ id }}" class="r t-rec t-rec_pt_75 t-rec_pb_0" style="padding-top:75px;padding-bottom:0px;background-color:#fae2d5; "
  data-record-type="3" data-bg-color="#fae2d5" data-animationappear="off" data-offset-top="7734">
  <!-- T107 -->
  <div class="t107">
    <div class="t-align_center" itemscope="" itemtype="http://schema.org/ImageObject">
      <meta itemprop="image" content="{% path params.custmediattr01, 'reference' %}">
      <img src="{% path params.custmediattr01, 'preview' %}" data-original="{% path params.custmediattr01, 'reference' %}"
        class="t107__widthauto t-img loaded" imgfield="img">
    </div>
  </div>
</div>