<div id="rec48681576" class="r t-rec t-rec_pt_75 t-rec_pb_0" style="padding-top:75px;padding-bottom:0px;background-color:#fae2d5; "
  data-record-type="3" data-bg-color="#fae2d5" data-animationappear="off" data-offset-top="7734">
  <!-- T107 -->
  <div class="t107">
    <div class="t-align_center" itemscope="" itemtype="http://schema.org/ImageObject">
      <meta itemprop="image" content="{{ asset('template/Google-Place-Optimiz.png') }}">
      <img src="{{ asset('template/Google-Place-Optimiz.png') }}" data-original="{{ asset('template/Google-Place-Optimiz.png') }}"
        class="t107__widthauto t-img loaded" imgfield="img">
    </div>
  </div>
</div>