<div id="rec{{id}}" class="r t-rec t-rec_pt_50 t-rec_pb_105" style="padding-top:50px;padding-bottom:105px; " data-record-type="251">
  <!-- T223 -->
  <div class="t223">
    <div class="t-container">
      <div class="t223-col t223-col_right t-col t-col_6 t-animate" data-animate-style="zoomin" data-animate-group="yes" data-animate-order="1">
        {% media params.custmediattr01, 'big' with {'player_parameters': {'t223': 1}} %}
        <div class="t223__blocktext t-text t-text_sm" field="text">
          <div style="text-align:center;color:#362d66;" data-customstyle="yes">{{ params.custstrattr01|raw }}</div>
        </div>
      </div>
      <div class="t223-col t223-col_right t-col t-col_6 t-animate" data-animate-style="zoomin" data-animate-group="yes" data-animate-order="2"
        data-animate-delay="0.3">
        {% media params.custmediattr02, 'big' with {'player_parameters': {'t223': 1}} %}
        <div class="t223__blocktext t-text t-text_sm" field="text2">
          <div style="text-align:center;color:#362d66;" data-customstyle="yes">{{ params.custstrattr02|raw }}</div>
        </div>
      </div>
    </div>
  </div>
</div>