<div id="rec48702269" class="r t-rec" style=" " data-animationappear="off" data-record-type="257">
  <!-- T228 -->
  <div id="nav48702269marker"></div>
  <div class="t228__mobile">
    <div class="t228__mobile_container">
      <div class="t228__mobile_text t-name t-name_md" field="text">&nbsp;</div>
      <div class="t228__burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div id="nav48702269" class="t228 t228__hidden t228__positionfixed " style="background-color: rgba(54, 45, 102, 0.8); height: 90px; box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px;"
    data-bgcolor-hex="#362d66" data-bgcolor-rgba="rgba(54,45,102,0.70)" data-navmarker="nav48702269marker" data-appearoffset=""
    data-bgopacity-two="80" data-menushadow="0" data-bgopacity="0.70" data-bgcolor-rgba-afterscroll="rgba(54,45,102,0.80)"
    data-menu-items-align="center" data-menu="yes">
    <div class="t228__maincontainer " style="height:90px;">
      <div class="t228__padding40px"></div>
      <div class="t228__leftside" style="min-width: 312px;">
        <div class="t228__leftcontainer">
          <a href="http://pilot-promo.ru/" style="color:#ffffff;">
            <img src="{{ asset('template/_backstage.png') }}" class="t228__imglogo " imgfield="img" alt="">
          </a>
        </div>
      </div>
      <div class="t228__centerside ">
        <div class="t228__centercontainer">
          <ul class="t228__list">
            <li class="t228__list_item">
              <a class="t-menu__link-item" href="#rec48681573" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="1">Лекция</a>
            </li>
            <li class="t228__list_item">
              <a class="t-menu__link-item" href="#rec48685966" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="2">Кто читает?</a>
            </li>
            <li class="t228__list_item">
              <a class="t-menu__link-item" href="#rec48687526" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="3">Для кого?</a>
            </li>
            <li class="t228__list_item">
              <a class="t-menu__link-item" href="#rec48700118" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="4">Тема</a>
            </li>
            <li class="t228__list_item">
              <a class="t-menu__link-item" href="#rec48690570" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="5">Когда?</a>
            </li>
            <li class="t228__list_item">
              <a class="t-menu__link-item" href="#rec48681576" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="6">Где?</a>
            </li>
            <li class="t228__list_item">
              <a class="t-menu__link-item" href="#rec48681581" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="7">Зарегистрироваться</a>
            </li>
            <li class="t228__list_item">
              <a class="t-menu__link-item" href="#rec48692576" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="8">Партнёры</a>
            </li>
            <li class="t228__list_item">
              <a class="t-menu__link-item t-active" href="#rec48681582" style="color:#fae2d5;font-size:14px;font-weight:400;text-transform:uppercase;"
                data-menu-item-number="9">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="t228__rightside" style="min-width: 312px;">
        <div class="t228__rightcontainer">
          <div class="t228__right_buttons">
            <div class="t228__right_buttons_wrap">
              <div class="t228__right_buttons_but">
                <a href="#rec48681581" target="" class="t-btn " style="color:#fae2d5;background-color:#ae94a9;border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;text-transform:uppercase;">
                  <table style="width:100%; height:100%;">
                    <tbody>
                      <tr>
                        <td>Регистрация</td>
                      </tr>
                    </tbody>
                  </table>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t228__padding40px"></div>
    </div>
  </div>
  <!--[if IE 8]>
        <style>
          #rec48702269 .t228 {
          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9362d66', endColorstr='#D9362d66');
          }
        </style>
        <![endif]-->
</div>