<div id="rec{{ id }}" class="r t-rec" style=" " data-animationappear="off" data-record-type="279">
  <!-- t251 -->
  <div class="t251">
    <div class="t251__wrapper t251__direction_left">
      <div class="t251__col t251__col_left">
        <div class="t251__block" itemscope itemtype="http://schema.org/ImageObject">
          <meta itemprop="image" content="{% path params.custmediattr03, 'reference' %}">
          <div class="t251__bg t-bgimg" data-zoomable="yes" data-img-zoom-url="{% path params.custmediattr03, 'reference' %}"
            bgimgfield="img" data-original="{% path params.custmediattr03, 'reference' %}"
            style="background-image: url('{% path params.custmediattr03, 'preview' %}')"></div>
        </div>
      </div>
      <div class="t251__col t251__col_right">
        <div class="t251__block t251__block_small" itemscope itemtype="http://schema.org/ImageObject">
          <meta itemprop="image" content="{% path params.custmediattr01, 'reference' %}">
          <div class="t251__bg t251__bg_small t-bgimg" data-zoomable="yes" data-img-zoom-url="{% path params.custmediattr01, 'reference' %}"
            bgimgfield="img1" data-original="{% path params.custmediattr01, 'reference' %}" 
            style="background-image: url('{% path params.custmediattr01, 'preview' %}"></div>
        </div>
        <div class="t251__block t251__block_small" itemscope itemtype="http://schema.org/ImageObject">
          <meta itemprop="image" content="{% path params.custmediattr02, 'reference' %}">
          <div class="t251__bg t251__bg_small t-bgimg" data-zoomable="yes" data-img-zoom-url="{% path params.custmediattr02, 'reference' %}"
            bgimgfield="img2" data-original="{% path params.custmediattr02, 'reference' %}"
            style="background-image: url('{% path params.custmediattr02, 'preview' %}')"></div>
        </div>
      </div>
    </div>
  </div>
</div>