<div class="record" id="record44566425" recordid="44566425" off="" data-record-type="279" style="cursor: auto;">
  <div id="rec44566425" class="r" style=" " data-animationappear="off">
    <!-- t251 -->
    <div class="t251">
      <div class="t251__wrapper t251__direction_left">
        <div class="t251__col t251__col_left">
          <div class="t251__block" itemscope="" itemtype="http://schema.org/ImageObject">
            <meta itemprop="image" content="https://static.tildacdn.com/tild6132-6334-4432-a235-663933663562/backstage--.jpg">
            <div class="t251__bg t-bgimg" bgimgfield="img" data-original="https://static.tildacdn.com/tild6132-6334-4432-a235-663933663562/backstage--.jpg"
              style="background-image: url(&#39;https://static.tildacdn.com/tild6132-6334-4432-a235-663933663562/backstage--.jpg&#39;)"
              id="tuwidget223168"></div>
            <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
          </div>
        </div>
        <div class="t251__col t251__col_right">
          <div class="t251__block t251__block_small" itemscope="" itemtype="http://schema.org/ImageObject">
            <meta itemprop="image" content="https://static.tildacdn.com/tild3165-6437-4532-b863-393765653961/giphy.gif">
            <div class="t251__bg t251__bg_small t-bgimg" bgimgfield="img1" data-original="https://static.tildacdn.com/tild3165-6437-4532-b863-393765653961/giphy.gif"
              style="background-image: url(&#39;https://static.tildacdn.com/tild3165-6437-4532-b863-393765653961/giphy.gif&#39;)"
              id="tuwidget189807"></div>
            <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
          </div>
          <div class="t251__block t251__block_small" itemscope="" itemtype="http://schema.org/ImageObject">
            <meta itemprop="image" content="https://static.tildacdn.com/tild3130-3536-4165-b237-316334613735/giphy-3.gif">
            <div class="t251__bg t251__bg_small t-bgimg" bgimgfield="img2" data-original="https://static.tildacdn.com/tild3130-3536-4165-b237-316334613735/giphy-3.gif"
              style="background-image: url(&#39;https://static.tildacdn.com/tild3130-3536-4165-b237-316334613735/giphy-3.gif&#39;)"
              id="tuwidget972934"></div>
            <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>