<div class="record" id="record44722965" recordid="44722965" off="" data-record-type="345" style="cursor: auto;">
  <div id="rec44722965" class="r" style=" background-color:#363064;" data-animationappear="off" data-bg-color="#363064">
    <!-- T345 -->
    <div class="t345" id="footer_44722965">
      <div class="t345-wrapper" style="border-top: 1px solid; border-top-color: #363064;">
        <div class="t345-container t-container" style="height:120px;">
          <div class="t345-col t-col t-col_12">
            <div class="t345-content">
              <div class="t345-text__wrapper">
                <div class="t345-text t-descr t-descr_xxs" field="text" style="color:#b9a3b5;">
                  <span style="font-weight: 600;">© Все права защищены. PILOT PROMO. ARTIST DEVELOPMENT. 2018</span>
                </div>
              </div>
              <div class="t345-socials">
                <div class="t345-share t345__transp-white">
                  <div class="ya-share2 ya-share2_inited" data-yasharel10n="en" data-services="facebook,vkontakte,odnoklassniki,twitter" data-counter="">
                    <div class="ya-share2__container ya-share2__container_size_m">
                      <ul class="ya-share2__list ya-share2__list_direction_horizontal">
                        <li class="ya-share2__item ya-share2__item_service_facebook">
                          <a class="ya-share2__link" href="https://www.facebook.com/sharer.php?src=sp&amp;u=https%3A%2F%2Ftilda.cc%2Fpage%2F%3Fpageid%3D2291012&amp;title=Tilda%3A+Pilot+Promo+-+Artist+Development&amp;utm_source=share2"
                            rel="nofollow noopener" target="_blank" title="Facebook">
                            <span class="ya-share2__badge">
                              <span class="ya-share2__icon"></span>
                              <span class="ya-share2__counter">0</span>
                            </span>
                            <span class="ya-share2__title">Facebook</span>
                          </a>
                        </li>
                        <li class="ya-share2__item ya-share2__item_service_vkontakte">
                          <a class="ya-share2__link" href="https://vk.com/share.php?url=https%3A%2F%2Ftilda.cc%2Fpage%2F%3Fpageid%3D2291012&amp;title=Tilda%3A+Pilot+Promo+-+Artist+Development&amp;utm_source=share2"
                            rel="nofollow noopener" target="_blank" title="ВКонтакте">
                            <span class="ya-share2__badge">
                              <span class="ya-share2__icon"></span>
                              <span class="ya-share2__counter">0</span>
                            </span>
                            <span class="ya-share2__title">ВКонтакте</span>
                          </a>
                        </li>
                        <li class="ya-share2__item ya-share2__item_service_odnoklassniki">
                          <a class="ya-share2__link" href="https://connect.ok.ru/offer?url=https%3A%2F%2Ftilda.cc%2Fpage%2F%3Fpageid%3D2291012&amp;title=Tilda%3A+Pilot+Promo+-+Artist+Development&amp;utm_source=share2"
                            rel="nofollow noopener" target="_blank" title="Одноклассники">
                            <span class="ya-share2__badge">
                              <span class="ya-share2__icon"></span>
                              <span class="ya-share2__counter">0</span>
                            </span>
                            <span class="ya-share2__title">Одноклассники</span>
                          </a>
                        </li>
                        <li class="ya-share2__item ya-share2__item_service_twitter">
                          <a class="ya-share2__link" href="https://twitter.com/intent/tweet?text=Tilda%3A+Pilot+Promo+-+Artist+Development&amp;url=https%3A%2F%2Ftilda.cc%2Fpage%2F%3Fpageid%3D2291012&amp;utm_source=share2"
                            rel="nofollow noopener" target="_blank" title="Twitter">
                            <span class="ya-share2__badge">
                              <span class="ya-share2__icon"></span>
                            </span>
                            <span class="ya-share2__title">Twitter</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      function checkSize_44722965() {
        var content = $("#footer_44722965 .t345-text").width() + $("#footer_44722965 .t345-socials").width();
        var container = $("#footer_44722965 .t345-container").width() - 30;

        if (content > container) {
          $("#footer_44722965 .t345-container").addClass('t345-socials_block');
        } else {
          $("#footer_44722965 .t345-container").removeClass('t345-socials_block');
        }
      }

      $(document).ready(function () {
        checkSize_44722965();
        $(window).resize(checkSize_44722965);
      });
    </script>
  </div>
</div>