<div class="record" id="record44610420" recordid="44610420" off="" data-record-type="404" style="cursor: auto;">
  <div id="rec44610420" class="r" style="padding-top:90px;padding-bottom:90px; background-color:#f7e3d6;" data-bg-color="#f7e3d6">
    <!-- T404 -->
    <div class="t404" data-show-count="8">
      <div class="t-container">

        <div class="t404__col t-col t-col_3 t-align_left " data-animate-style="fadeinup" data-animate-chain="yes" style="display: block;">
          <a class="t404__link" href="https://tilda.cc/page/?pageid=863">
            <div class="t404__imgbox">
              <div class="t404__img t-bgimg" data-original="https://static.tildacdn.com/tild3033-3537-4462-b861-376663666364/blob.png"
                style="background-image: url(&#39;https://static.tildacdn.com/tild3033-3537-4462-b861-376663666364/blob.png&#39;);"></div>
              <div class="t404__separator"></div>
            </div>
            <div class="t404__textwrapper ">
              <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
                <span style="text-transform:uppercase;" class="t404__tag">Travel&nbsp;&nbsp;&nbsp;</span>
                <span style="text-transform:uppercase;" class="t404__date">Wednesday, June 25</span>
              </div>
              <div class="t404__title t-heading t-heading_xs" style="color: rgb(54, 45, 102); height: 93px;">Why every designer should visit Rotterdam?</div>
              <div class="t404__descr t-descr t-descr_xs" style="height: 96px;">After initial crisis re-construction the center of Rotterdam has become the site of ambitious new architecture.</div>
            </div>
          </a>
        </div>

        <div class="t404__col t-col t-col_3 t-align_left " data-animate-style="fadeinup" data-animate-chain="yes" style="display: block;">
          <a class="t404__link" href="https://tilda.cc/page/?pageid=862">
            <div class="t404__imgbox">
              <div class="t404__img t-bgimg" data-original="https://static.tildacdn.com/tild3065-3939-4832-a162-366632323063/blob.png"
                style="background-image: url(&#39;https://static.tildacdn.com/tild3065-3939-4832-a162-366632323063/blob.png&#39;);"></div>
              <div class="t404__separator"></div>
            </div>
            <div class="t404__textwrapper ">
              <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
                <span style="text-transform:uppercase;" class="t404__tag">Culture&nbsp;&nbsp;&nbsp;</span>
                <span style="text-transform:uppercase;" class="t404__date">Wednesday, June 25</span>
              </div>
              <div class="t404__title t-heading t-heading_xs" style="color: rgb(54, 45, 102); height: 93px;">Let your culture be your brand</div>
              <div class="t404__descr t-descr t-descr_xs" style="height: 96px;">A brand in order to be relevant to consumers and sustainable over time must operate much like a culture.</div>
            </div>
          </a>
        </div>

        <div class="t404__col t-col t-col_3 t-align_left " data-animate-style="fadeinup" data-animate-chain="yes" style="display: block;">
          <a class="t404__link" href="https://tilda.cc/page/?pageid=861">
            <div class="t404__imgbox">
              <div class="t404__img t-bgimg" data-original="https://static.tildacdn.com/tild3731-3336-4635-a136-626130646633/blob.png"
                style="background-image: url(&#39;https://static.tildacdn.com/tild3731-3336-4635-a136-626130646633/blob.png&#39;);"></div>
              <div class="t404__separator"></div>
            </div>
            <div class="t404__textwrapper ">
              <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
                <span style="text-transform:uppercase;" class="t404__tag">Style&nbsp;&nbsp;&nbsp;</span>
                <span style="text-transform:uppercase;" class="t404__date">Wednesday, June 25</span>
              </div>
              <div class="t404__title t-heading t-heading_xs" style="color: rgb(54, 45, 102); height: 93px;">Nordic nature and Scandinavian lifestyle</div>
              <div class="t404__descr t-descr t-descr_xs" style="height: 96px;">The ways that vast empty spaces affect how you feel and how to spend your summer the Scandinavian way.</div>
            </div>
          </a>
        </div>

        <div class="t404__col t-col t-col_3 t-align_left " data-animate-style="fadeinup" data-animate-chain="yes" style="display: block;">
          <a class="t404__link" href="https://tilda.cc/page/?pageid=860">
            <div class="t404__imgbox">
              <div class="t404__img t-bgimg" data-original="https://static.tildacdn.com/tild6561-3539-4037-b734-626438396666/blob.png"
                style="background-image: url(&#39;https://static.tildacdn.com/tild6561-3539-4037-b734-626438396666/blob.png&#39;);"></div>
              <div class="t404__separator"></div>
            </div>
            <div class="t404__textwrapper ">
              <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
                <span style="text-transform:uppercase;" class="t404__tag">Movies&nbsp;&nbsp;&nbsp;</span>
                <span style="text-transform:uppercase;" class="t404__date">Wednesday, June 25</span>
              </div>
              <div class="t404__title t-heading t-heading_xs" style="color: rgb(54, 45, 102); height: 93px;">An urbanist's guide to the best cities to visit</div>
              <div class="t404__descr t-descr t-descr_xs" style="height: 96px;">Learn how to get there, where to stay and how to have the best time.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="t-container">

        <div class="t404__col t-col t-col_3 t-align_left " data-animate-style="fadeinup" data-animate-chain="yes" style="display: block;">
          <a class="t404__link" href="https://tilda.cc/page/?pageid=859">
            <div class="t404__imgbox">
              <div class="t404__img t-bgimg" data-original="https://static.tildacdn.com/tild3261-6662-4961-b134-383564393936/blob.png"
                style="background-image: url(&#39;https://static.tildacdn.com/tild3261-6662-4961-b134-383564393936/blob.png&#39;);"></div>
              <div class="t404__separator"></div>
            </div>
            <div class="t404__textwrapper ">
              <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
                <span style="text-transform:uppercase;" class="t404__tag">Culture&nbsp;&nbsp;&nbsp;</span>
                <span style="text-transform:uppercase;" class="t404__date">Wednesday, June 25</span>
              </div>
              <div class="t404__title t-heading t-heading_xs" style="color: rgb(54, 45, 102); height: 62px;">10 summer festivals from Berlin to Leipzig</div>
              <div class="t404__descr t-descr t-descr_xs" style="height: 72px;">Films are chosen in each category by a section director with the advice of a committee of film experts.</div>
            </div>
          </a>
        </div>

        <div class="t404__col t-col t-col_3 t-align_left " data-animate-style="fadeinup" data-animate-chain="yes" style="display: block;">
          <a class="t404__link" href="https://tilda.cc/page/?pageid=858">
            <div class="t404__imgbox">
              <div class="t404__img t-bgimg" data-original="https://static.tildacdn.com/tild3362-3430-4236-a536-353335616163/blob.png"
                style="background-image: url(&#39;https://static.tildacdn.com/tild3362-3430-4236-a536-353335616163/blob.png&#39;);"></div>
              <div class="t404__separator"></div>
            </div>
            <div class="t404__textwrapper ">
              <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
                <span style="text-transform:uppercase;" class="t404__tag">Design&nbsp;&nbsp;&nbsp;</span>
                <span style="text-transform:uppercase;" class="t404__date">Wednesday, June 25</span>
              </div>
              <div class="t404__title t-heading t-heading_xs" style="color: rgb(54, 45, 102); height: 62px;">Back to purity, back to simplicity</div>
              <div class="t404__descr t-descr t-descr_xs" style="height: 72px;">Simplicity is about subtracting the obvious and adding the meaningful.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="t404__buttonwrapper">
        <div class="t404__showmore t404__btn t-btn " style="color:#ffffff;border:0px solid #000000;background-color:#362d66;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
          <table style="width:100%; height:100%;">
            <tbody>
              <tr>
                <td>Show more</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        t404_unifyHeights('44610420');

        $('.t404').bind('displayChanged', function () {
          t404_unifyHeights('44610420');
        });

        $(window).bind('resize', t_throttle(function () {
          t404_unifyHeights('44610420');
        }, 200));

        $(window).load(function () {
          t404_unifyHeights('44610420');
        });

      });
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        t404_showMore('44610420');
      });
    </script>

    <style>
      #rec44610420 .t-btn:not(.t-animate_no-hover):hover {
        background-color: #fb4f75 !important;
        color: #ffffff !important;
      }

      #rec44610420 .t-btn:not(.t-animate_no-hover) {
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }
    </style>

  </div>

</div>