<div class="record" id="record44566429" recordid="44566429" off="n" data-record-type="552" style="cursor: auto;">
  <div id="rec44566429" class="r" style="padding-top:0px;padding-bottom:0px; background-color:#363064;" data-animationappear="off"
    data-bg-color="#363064">
    <!-- t552-->
    <div class="t552">
      <div class="t552__container t-container_100 ">
        <div class="t552__tile t552__tile_25" itemscope="" itemtype="http://schema.org/ImageObject">
          <div class="t552__blockimg t552__blockimg_animated t-bgimg" bgimgfield="gi_img__0" data-zoom-target="0" data-original="https://static.tildacdn.com/tild6562-3136-4138-a239-383835363261/--3-11.jpg"
            style="background: url(&quot;https://static.tildacdn.com/tild6562-3136-4138-a239-383835363261/--3-11.jpg&quot;) center center / cover no-repeat; height: 340px;"
            id="tuwidget702406">
            <meta itemprop="image" content="https://static.tildacdn.com/tild6562-3136-4138-a239-383835363261/--3-11.jpg">
          </div>
          <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
        </div>
        <div class="t552__tile t552__tile_25" itemscope="" itemtype="http://schema.org/ImageObject">
          <div class="t552__blockimg t552__blockimg_animated t-bgimg" bgimgfield="gi_img__1" data-zoom-target="1" title="iTunes" data-original="https://static.tildacdn.com/tild3738-3461-4430-b964-336231323736/Animation-2.gif"
            style="background: url(&quot;https://static.tildacdn.com/tild3738-3461-4430-b964-336231323736/Animation-2.gif&quot;) center center / cover no-repeat; height: 340px;"
            id="tuwidget158334">
            <meta itemprop="image" content="https://static.tildacdn.com/tild3738-3461-4430-b964-336231323736/Animation-2.gif">
            <meta itemprop="caption" content="iTunes">
          </div>
          <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
        </div>
        <div class="t552__tile t552__tile_25" itemscope="" itemtype="http://schema.org/ImageObject">
          <div class="t552__blockimg t552__blockimg_animated t-bgimg" bgimgfield="gi_img__2" data-zoom-target="2" data-original="https://static.tildacdn.com/tild6532-6665-4438-b736-353732643332/iTunesyellow2.jpg"
            style="background: url(&quot;https://static.tildacdn.com/tild6532-6665-4438-b736-353732643332/iTunesyellow2.jpg&quot;) center center / cover no-repeat; height: 340px;"
            id="tuwidget428051">
            <meta itemprop="image" content="https://static.tildacdn.com/tild6532-6665-4438-b736-353732643332/iTunesyellow2.jpg">
          </div>
          <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
        </div>
        <div class="t552__tile t552__tile_25" itemscope="" itemtype="http://schema.org/ImageObject">
          <div class="t552__blockimg t552__blockimg_animated t-bgimg" bgimgfield="gi_img__3" data-zoom-target="3" data-original="https://static.tildacdn.com/tild6432-6539-4734-b632-306365323638/single_pina_colada.jpg"
            style="background: url(&quot;https://static.tildacdn.com/tild6432-6539-4734-b632-306365323638/single_pina_colada.jpg&quot;) center center / cover no-repeat; height: 340px;"
            id="tuwidget182844">
            <meta itemprop="image" content="https://static.tildacdn.com/tild6432-6539-4734-b632-306365323638/single_pina_colada.jpg">
          </div>
          <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
        </div>
        <div class="t552__tile t552__tile_25" itemscope="" itemtype="http://schema.org/ImageObject">
          <div class="t552__blockimg t552__blockimg_animated t-bgimg" bgimgfield="gi_img__4" data-zoom-target="4" data-original="https://static.tildacdn.com/tild6237-3038-4134-b066-366633373866/---itunes.jpg"
            style="background: url(&quot;https://static.tildacdn.com/tild6237-3038-4134-b066-366633373866/---itunes.jpg&quot;) center center / cover no-repeat; height: 340px;"
            id="tuwidget733679">
            <meta itemprop="image" content="https://static.tildacdn.com/tild6237-3038-4134-b066-366633373866/---itunes.jpg">
          </div>
          <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
        </div>
        <div class="t552__tile t552__tile_25" itemscope="" itemtype="http://schema.org/ImageObject">
          <div class="t552__blockimg t552__blockimg_animated t-bgimg" bgimgfield="gi_img__5" data-zoom-target="5" data-original="https://static.tildacdn.com/tild6366-6462-4764-a637-323065636435/Calendar-from-Amster.jpg"
            style="background: url(&quot;https://static.tildacdn.com/tild6366-6462-4764-a637-323065636435/Calendar-from-Amster.jpg&quot;) center center / cover no-repeat; height: 340px;"
            id="tuwidget231872">
            <meta itemprop="image" content="https://static.tildacdn.com/tild6366-6462-4764-a637-323065636435/Calendar-from-Amster.jpg">
          </div>
          <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
        </div>
        <div class="t552__tile t552__tile_25" itemscope="" itemtype="http://schema.org/ImageObject">
          <div class="t552__blockimg t552__blockimg_animated t-bgimg" bgimgfield="gi_img__6" data-zoom-target="6" data-original="https://static.tildacdn.com/tild3938-3636-4466-a434-396466626161/esenina.jpg"
            style="background: url(&quot;https://static.tildacdn.com/tild3938-3636-4466-a434-396466626161/esenina.jpg&quot;) center center / cover no-repeat; height: 340px;"
            id="tuwidget624053">
            <meta itemprop="image" content="https://static.tildacdn.com/tild3938-3636-4466-a434-396466626161/esenina.jpg">
          </div>
          <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        setTimeout(function () {
          t552_init('44566429', '1');
        }, 500);
      });
      $('.t552').bind('displayChanged', function () {
        t552_init('44566429', '1');
      });
    </script>
  </div>
</div>