<div id="rec{{ id }}" class="r t-rec t-rec_pt_30 t-rec_pb_135" style="padding-top:30px;padding-bottom:135px;background-color:#4bc7d2; "
  data-animationappear="off" data-record-type="667" data-bg-color="#4bc7d2">
  <!-- t667 -->
  <div class="t667">
    <div class="t667__container t-container ">
      <div class="t667__row t667__row_indent-20px t-row">
        
        <div class="t667__tile t667__tile_left t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed"
          data-animate-style="fadeinright" data-animate-chain="yes" itemscope="" itemtype="http://schema.org/ImageObject" data-animate-start-time="1521974262654"
          style="transition-delay: 0s;">
          <meta itemprop="image" content="{% path params.custmediattr01, 'reference' %}">
          <div class="t667__bgimg t667__bgimg_1-1 t-bgimg t-zoomable loaded" bgimgfield="gi_img__0" data-zoomable="yes" data-img-zoom-url="{% path params.custmediattr01, 'reference' %}"
            data-original="{% path params.custmediattr01, 'reference' %}" style="background: url({% path params.custmediattr01, 'preview' %}) center center / cover no-repeat;"
            src=""></div>
        </div>

        <div class="t667__tile t667__tile_right t-animate t-animate_started" data-animate-style="fadeinright" data-animate-chain="yes"
          itemscope="" itemtype="http://schema.org/ImageObject" data-animate-start-time="1521974262814" style="transition-delay: 0.16s;">
          <meta itemprop="image" content="{% path params.custmediattr02, 'reference' %}">
          <div class="t667__bgimg t667__bgimg_1-1 t-bgimg t-zoomable loaded" bgimgfield="gi_img__1" data-zoomable="yes" data-img-zoom-url="{% path params.custmediattr02, 'reference' %}"
            data-original="{% path params.custmediattr02, 'reference' %}" style="background: url({% path params.custmediattr02, 'preview' %}) center center / cover no-repeat;"
            src=""></div>
        </div>

      </div>
    </div>
  </div>
</div>