<div class="record" id="record47283217" recordid="47283217" off="" data-record-type="795" style="cursor: auto;">
  <div id="rec47283217" class="r" style="padding-top:90px;padding-bottom:0px; background-color:#f7f5f4;" data-bg-color="#f7f5f4">
    <!-- T795 -->
    <div class="t795">
      <div class="t-container t-align_center">
        <div class="t-col t-col_10 t-prefix_1">
          <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">
            <div style="color:#363064;" data-customstyle="yes">АРТИСТЫ</div>
          </div>
          <div class="t795__descr t-descr t-descr_xl t-margin_auto" field="descr" style="">
            <div style="color:#363064;" data-customstyle="yes">Сегодня с нами сотрудничают:</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>