# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'
    database_prefix: pilot_

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    s3_bucket_name: pilot4.vserver.tk
    s3_access_key: AKIAI2BIUZLL5OHVF66Q
    s3_secret_key: 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
    s3_region: us-east-2
    s3_version: '2006-03-01'
    s3_sdk_version: 3