{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        {% if object.parent.children[0] is defined %}
          {% if object.parent.children[0].id != object.id %}
            <a href="{{ path('page_slide_up', {'page_id': object.id}) }}">{% trans %}Вверх{% endtrans %}</a>
          {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}